*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
}
.logo img{
    display: flex;
    width: 200px;
    align-items: center;
    
}
.navlink{
    display: flex;
    justify-items: center;
    text-decoration: solid;
    
}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
li a{
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
    justify-content: space-around;
}
button{
    display: flex;
    background-color: red;
    color: white;
    border-radius: 20px;
}
#order{
    background-color: red;
}


