*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
@font-face{
    font-family: 'futurak';
    src: url("./fonts/futurak.tff");
}
@font-face {
    font-family: Apercu;
    src: url("./fonts/Apercu-Font.zip");
} 
    


header{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.logo{
     width: 200px;
}
.logo img{
    display: flex;
    width: 100px;
    align-items: center;
    
}
.navlink{
    display: flex;
    gap: 20px;  
    align-items: center;
    height: 100%;
}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
li a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    width: 100px;
    justify-content: space-around;
    
    
}
.bnts{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bnts button{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    padding: 10px 20px;
}
#order{
    background-color: red;
}
.rigth{
    display: flex;
}
.arrow{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
 /* banner */
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.brand{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
.brand .content{
    text-align: center;
}
.container{
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    align-items: center;
}   

#Salt{
    font-family:'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
}
h1{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
.button{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}
/*Franchise section start  */
.Franchise{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.isbcontent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Franchise .isb{
    display: flex;
    gap: 100px;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    
}
#heading{
    color: red;
}
.isb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
}
.isb img{
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 100px;
    padding: 20px 40px;
}
button{
    display: flex;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding: 30px 40px;
    border: 1px solid white;
    font-size: large;
}
.faisalabad{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}
#heading{
    color: red;
}
.faisal img{
    display: flex;
    flex-direction: column;
    order: -5;
    gap: 100px;
    padding-left: 10px 20px;

}
.faisalcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 100px;
}
#btns{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding: 20px 40px;
    border: 1px solid white;
    font-size: large;
}
.Bahawalpur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
#heading{
    color: red;
}
.bahawalpurcontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
}
.bahawal img{
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 100px;
    padding: 20px 40px;
}
#btns{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}
/*Franchise section end  */

/* Express Franchises section start */

.ExpressFranchises{
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: black;
   color: white;
   align-items: center;
   padding: 100px 40px;
   gap: 80px;
}
.Expresscontent{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sargodha{
    display: flex;
    flex-direction: column;
}
.sargodhacontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
/* .location{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px; */
}

/* Express Franchises section end */
