*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
@font-face{
    font-family: 'futurak';
    src: url("./fonts/futurablack-bt.ttf");
}
@font-face {
    font-family: 'Apercu';
    src: url("./fonts/Apercu-Font.zip");
} 
@font-face {
    font-family: 'inter';
    src: url("./fonts/Inter-Regular.otf");
}
    


header{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.logo{
     width: 200px;
}
.logo img{
    display: flex;
    width: 100px;
    align-items: center;
    
}
.navlink{
    display: flex;
    gap: 20px;  
    align-items: center;
    height: 100%;
}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
li a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    width: 100px;
    justify-content: space-around;
    
    
}
.bnts{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bnts button{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    padding: 10px 20px;
}
#order{
    background-color: red;
}
.rigth{
    display: flex;
}
.arrow{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
 /* banner */
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.brand{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}
.brand .content{
    text-align: center;
}
.container{
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    align-items: center;
}   

#font{
    font-family:'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
}
h1{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
.button{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}
/*Franchise section start  */
.Franchise{
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.isbcontent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Franchise .isb{
    display: flex;
    gap: 100px;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    
}
#heading{
    color: red;
}
.isb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
}
.isb img{
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 100px;
    padding: 20px 40px;
}
button{
    display: flex;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding: 30px 40px;
    border: 1px solid white;
    font-size: large;
}
.faisalabad{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}
#heading{
    color: red;
}
.faisal img{
    display: flex;
    flex-direction: column;
    order: -5;
    gap: 100px;
    padding-left: 10px 20px;

}
.faisalcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 100px;
}
#btns{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    gap: 10px;
    padding: 20px 40px;
    border: 1px solid white;
    font-size: large;
}
.Bahawalpur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}
#heading{
    color: red;
}
.bahawalpurcontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
}
.bahawal img{
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 100px;
    padding: 20px 40px;
}
#btns{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}
/*Franchise section end  */

/* Express Franchises section start */

.ExpressFranchises{
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: black;
   color: white;
   align-items: center;
   padding: 100px 40px;
   gap: 80px;
}
.Expresscontent{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.row{
    display: flex;
    gap: 80px;
}
.imgSize{
    width: 400px;
}
.sargodha{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    
}
.sargodha img {
    width: 100%;
}
.sargodha button{
    width: 60%;
    border-radius: 50px;
}
.Jhelum{
   display: flex;
   flex-direction: column;
   width: 30%; 
   gap: 20px;
}
.Jhelum img{
    width: 100%;
}
.Jhelum button{
    width: 60%;
    border-radius: 50px;
}
.FaisalTown{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 40px;
}
.FaisalTown img{
    width: 100%;
}
.FaisalTown button{
    width: 60%;
    border-radius: 50px;
}
.DHA{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.DHA img{
    width: 100%;
}
.DHA button{
    width: 60%;
    border-radius: 50px;
}

.BahriaTown{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.BahriaTown img{
    width: 100%;
}
.BahriaTown button{
    width: 60%;
    border-radius: 50px;
}
.GujarKhan{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.GujarKhan img{
    width: 100%;
}
.GujarKhan button{
    width: 30%;
    border-radius: 50px;
}
.Lahore{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.Lahore img{
    width: 100%;
}
.Lahore button{
    width: 60%;
    border-radius: 50px;
}
.Gujrat{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.Gujrat img{
    width: 100%;
}
.Gujrat button{
    width: 60%;
    border-radius: 50px;
}
.Sahiwal{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}
.Sahiwal img{
    width: 100%;
}
.Sahiwal button{
    width: 60%;
    border-radius: 50px;
}
.Burewala{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}
.Burewala img{
    width: 100%;
    
}
.Burewala button{
    width: 60%;
    border-radius: 50px;
}

.VillageFranchise{
    background-color: black;
    color: white;
    width: 100%;
    gap: 100px;
    flex-direction: column;
   
}
.Villagecontent{
    /* display: flex;
    text-align: center;
    align-content: center;
    gap: 30px; */
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Village{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    
}
.Village img{
    display: flex;
    flex-direction: column;
    order: -5;
    gap: 100px;
    padding-left: 100px

}
.GUJRANWALA{
    display: flex;
    flex-direction: column;
    order: 1;
    padding-right: 100px;
    
}
/* Express Franchises section end */

/* Express Location Section start */
.ExpressLocation{
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.loccontent{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-align: center;
    width: 100%;
    
}
.locationrow{
    display: flex;
    gap: 100px;
    width: 100%;
}
.locationcard{
    display: flex;
    gap: 30px;
    background-color:black;
    color: white;
    flex-direction: column;
    padding: 60px 80px;
    
}
#cardf{
    font-family: 'FuturaBlack BT';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}
h4{
    font-family: 'inter';
    font-weight: 600;
    font-size: 24px;
}
.card1{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    text-align: center;
    padding: 30px 32px;
    gap: 32px;
    border-radius: 5px;
    justify-content: center;
}
.card2{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    text-align: center;
    padding: 30px 32px;
    gap: 50px;
    border-radius: 5px;
    justify-content: center;
}
.card3{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    text-align: center;
    padding: 30px 32px;
    gap: 50px;
    border-radius: 5px;
    justify-content: center;
}
.card4{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    text-align: center;
    padding: 30px 32px;
    border-radius: 5px;
    gap: 50px;
    justify-content: center;

}
.card5{
    background-color: white;
    color: black;
    width: 70%;
    height: fit-content;
    border-radius: 5px;
    text-align: center;
    gap: 50px;
    justify-content: center;
    padding: 30px 32px;

}
.card6{
    background-color: white;
    color : black;
    width: 70%;
    height: fit-content;
    text-align: center;
    padding: 30px 32px;
    border-radius: 5px;
    gap: 50px;
    justify-content: center;

}
/* Express Location Section end */
