*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.logo{
     width: 200px;
}
.logo img{
    display: flex;
    width: 100px;
    align-items: center;
    
}
.navlink{
    display: flex;
    gap: 20px;  
    align-items: center;
}
li{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
li a{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
    justify-content: space-around;
    padding: 40px;
    
    
    
}
.bnts{
    display: flex;
    gap: 20px;
    align-items: center;
}
.bnts button{
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    padding: 10px 20px;
}
#order{
    background-color: red;
}
.rigth{
    display: flex;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.content{
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    
}


